body {
  background-color: #fefefe;
  color: #454545;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
}

a:link {
  color: #07a;
}

a:visited {
  color: #941352;
}

#index a:visited {
  color: #07a;
}

#index a:hover {
  color: #941352;
}

#banner {
  display: block;
}

.banner-items {
  display: inline-block;
  margin: 0 2.5%;
}
